<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.x4444.app1u"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/flower" >

        <!--
        activity
            android:name="org.x4444.app1u.MainActivity"
            android:label="@string/title_home"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity
        -->

        <activity
            android:name="org.x4444.app1u.GpsDbNetActivity"
            android:label="@string/title_home"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        activity
            android:name="org.x4444.app1u.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:theme="@style/CustomActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.x4444.app1u.MainActivity" />
        </activity
        -->
    </application>

</manifest>